body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    background-image: url("https://img-c.udemycdn.com/course/240x135/567828_67d0.jpg");
  }
  
  .container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1, h2, p {
    margin: 0 0 1em;
  }
  
  ul {
    padding-left: 20px;
    margin: 0;
  }
  
  button {
    background-color: #1e90ff;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  button:hover {
    background-color: #0072b3;
  }

  img{
    max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  }